.canvasContainer {
  outline: 1px solid var(--primary-7);
  position: relative;
  background-color: var(--primary-10);
  grid-column: 1 / span 7;
  // mix-blend-mode: difference;
  .canvasButtons {
    position: absolute;
    display: flex;
    gap: var(--size-1);
    bottom: var(--size-1);
    right: var(--size-1);
  }
}
