@import 'open-props/style';
@import 'open-props/colors-hsl';

:root {
  --body-color: var(--gray-0);
  --primary-0: var(--gray-0);
  --primary-1: var(--gray-1);
  --primary-2: var(--gray-2);
  --primary-3: var(--gray-3);
  --primary-4: var(--gray-4);
  --primary-5: var(--gray-5);
  --primary-6: var(--gray-6);
  --primary-7: var(--gray-7);
  --primary-8: var(--gray-8);
  --primary-9: var(--gray-9);
  --primary-10: var(--gray-10);
  --primary-11: var(--gray-11);
  --primary-12: var(--gray-12);

  --green-0: var(--green-3);
  --green-1: var(--green-6);
  --green-2: var(--green-9);

  --red-0: var(--red-3);
  --red-1: var(--red-6);
  --red-2: var(--red-9);
}
@media (prefers-color-scheme: dark) {
  :root {
    --body-color: var(--gray-12);
    --text-color: var(--gray-0);
    --primary-0: var(--gray-0);
    --primary-1: var(--gray-1);
    --primary-2: var(--gray-2);
    --primary-3: var(--gray-3);
    --primary-4: var(--gray-4);
    --primary-5: var(--gray-5);
    --primary-6: var(--gray-6);
    --primary-7: var(--gray-7);
    --primary-8: var(--gray-8);
    --primary-9: var(--gray-9);
    --primary-10: var(--gray-10);
    --primary-11: var(--gray-11);
    --primary-12: var(--gray-12);

    --green-0: var(--green-3);
    --green-1: var(--green-6);
    --green-2: var(--green-9);

    --red-0: var(--red-3);
    --red-1: var(--red-6);
    --red-2: var(--red-9);
  }
}

/* :root {
  --text-1: var(--gray-11);
  --text-2: var(--gray-8);
  --text-3: var(--gray-7);

  --surface-1: white;
  --surface-2: var(--gray-0);
  --surface-3: var(--gray-1);
  --surface-4: var(--gray-2);

  --primary: var(--lime-9);
  --primary-hsl: var(--lime-9-hsl);
  --primary-hover: var(--lime-10);
  --text-on-primary: var(--gray-0);

  --primary-dark: var(--lime-11);
  --primary-dark-hsl: var(--lime-11-hsl);
  --text-on-primary-dark: var(--gray-0);

  --primary-light: var(--lime-4);
  --primary-light-hsl: var(--lime-4-hsl);
  --text-on-primary-light: var(--gray-11);
  
  --primary-lighter: var(--lime-2);
  --primary-lighter-hsl: var(--lime-2-hsl);
  --text-on-primary-lighter: var(--gray-11);

  --error: var(--red-8);
  --error-hsl: var(--red-8-hsl);
  --error-hover: var(--red-9);
  --text-on-error: var(--gray-11);

  --error-light: var(--red-4);
  --error-light-hsl: var(--red-4-hsl);
  --text-on-error-light: var(--gray-0);

  --error-lighter: var(--red-1);
  --error-lighter-hsl: var(--red-1-hsl);
  --text-on-error-lighter: var(--gray-0);

  --success: var(--green-8);
  --success-hsl: var(--green-8-hsl);
  --success-hover: var(--green-9);
  --text-on-success: var(--gray-11);

  --warning: var(--orange-5);
  --warning-hsl: var(--orange-5-hsl);
  --text-on-warning: var(--gray-0);

  --disabled: var(--gray-3);
  --disabled-hsl: var(--gray-3-hsl);
  --text-disabled: var(--gray-6);

  --border-dimmed: hsl(var(--gray-11-hsl) / 0.15);
  --border: hsl(var(--gray-11-hsl) / 0.4);
} */

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--body-color);
  color: var(--primary-0);
  font-family: var(--font-sans);
}
